{%load static %}
<html>
	<head>
		<meta charset="utf-8" http-equiv="refresh" content="6 ; url=http://13.112.236.144:8000/web/mystarface">
		<link rel="stylesheet" href="{% static 'css/3.loading.css'%}?{% now "U" %}">
		<title>3.照片loading進度</title>
		<style type="text/css">
		@import url(http://fonts.googleapis.com/earlyaccess/cwtexyen.css);
		 body{
		 font-family: cwTeXYen, sans-serif;
		 font-size:20px;
		 }
		</style>
	</head>
			<div class="out">
			  <div class="fade-in">
				<div class="container">
				  <div class="one common"></div>
				  <div class="two common"></div>
				  <div class="three common"></div>
				  <div class="four common"></div>
				  <div class="five common"></div>
				  <div class="six common"></div>
				  <div class="seven common"></div>
				  <div class="eight common"></div>
				</div>
				<div class="bar">
				  <div class="progress"></div>
		    </div>
				 <span>請稍等幾秒鐘，讓我們來幫您比對明星臉^0^</span>
			  </div>
			
		
</html>

